---
layout: layout.njk
title: About
eleventyNavigation:
  key: About
  order: 2
---
<p>This site is coded and written by me, Chris Lizama. All pictures were taken by me too. I like birds, Zen, and knitting</p>
