---
layout: layout.njk
title: Home
eleventyNavigation:
  key: Home
  order: 0
---

<div style="max-width:100%;">

  {% set recent = collections.posts | last %}
  Most recent: 
  <br/>
  <br/>
  <h4><a href="{{ recent.url}}">{{ recent.data.title}}</a></h4>
  <p>{{recent.content | safe }}</p>

  <a href="/blog">See more posts</a>
</div>

<style>
img {
  block-size:auto;
  max-inline-size:100%;
}
</style>
