---
layout: layout.njk
title: Home
eleventyNavigation:
  key: Home
  order: 0
---
<div style="max-width:100%;">
  <img src="/assets/img/forest.jpg"/>
</div>

<style>
img {
  block-size:auto;
  max-inline-size:100%;
}
</style>
